.Inclusive-login-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color); 
}

.login-big-wrapper {
    width: 90%;
    max-width: 1100px;
    height: 90%;
    border-radius: 9px;
    background-color: var(--card-bg); 
    display: flex;
    justify-content: space-between;
    position: relative;
}

.login-banner-section {
    background-color: var(--secondary-bg); 
    border-radius: 0 9px 9px 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-banner-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 9px 9px 0;

}

.login-big-wrapper form label {
    background-color: var(--card-bg); /* changed */
    color: var(--input-text); /* changed */
}

.login-big-wrapper form input {
    outline: 0;
    width: 100%;
    margin-bottom: 1.9rem;
    padding: 18px;
    padding-top: 22px;
    border: var(--input-border) solid 1px; /* changed */
    border-radius: 5px;
    font-size: 0.9rem;
    color: var(--input-text); /* changed */
    background-color: var(--input-bg); /* changed */
}

.login-big-wrapper form input:focus-within {
    border: var(--primary-color) solid 1px; /* changed */
}

.login-big-wrapper form input:focus+label {
    color: var(--primary-color) !important; /* changed */
}

.login-big-wrapper form button {
    cursor: pointer;
    border: none;
    outline: 0;
    background-color: var(--primary-color); /* changed */
    width: 100%;
    text-align: center;
    color: white;
    padding: 15px;
    border-radius: 6px;
    margin-top: 14px;
    letter-spacing: 0.4px;
}

.error_message {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    margin-top: -1.2rem;
    background-color: var(--error-bg); /* changed */
    color: white;
    padding: 8px;
    font-size: 0.9rem;
    text-align: center;
}