/* Define default variables for the light theme */
:root {
  --primary-background: #fff;
  --secondary-background: #f8f9fa;
  --text-color: #333;
  --link-color: #007bff;
}

/* Override variables for the dark theme */
body.dark {
  --primary-background: #121212;
  --secondary-background: #1e1e1e;
  --text-color: #e0e0e0;
  --link-color: #0d6efd;
}